.box {
  background-color: #262626;
  min-height: 100vh;
  text-align: center;
}

.box h1 {
  text-transform: capitalize;
  color: #eee;
  text-align: center;
  padding: 20px;
}

.form {
  padding: 20px;
}

.form #outlined-basic {
  color: red;
}
